<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dynamic</title>
    <style>
      body {
        font-family: sans-serif;
        background-color: #eee;
      }
    </style>
  </head>
  <body>
    {# This is a one line comment #}
    <h1
      style="
        font-size: 2rem;
        font-family: sans-serif;
        padding: 6px 9px;
        border-radius: 9px;
        background-color: #333;
        color: #fff;
      "
    >
      Hello {{name}}
    </h1>
    <h3>Categories</h3>
    <ul>
      {% for s in stack %} {% if s == 'Django' %}
      <li style="color: #0f0"><b>{{s}}</b></li>
      {% else %}
      <li>{{s}}</li>
      {% endif %} {% endfor %}
      <h5>Total stack: {{stack|length}}</h5>
    </ul>
  </body>
</html>
