<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple</title>
    <style>
      body {
        font-family: sans-serif;
        background-color: gainsboro;
        padding: 2rem;
      }
      h1 {
        color: aqua;
        background-color: whitesmoke;
        padding: 6px 9px;
        margin-top: 0;
        border-radius: 9px;
      }
      p {
        padding: 6px 9px;
        border-top: 1px solid cyan;
        width: fit-content;
      }
    </style>
  </head>
  <body>
    <h1>Hello, Django!</h1>
    <p>This is a simple HTML page.</p>
  </body>
</html>
