{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Forms with HTML</title>
</head>

<body class="bg-gray-100">
  <h1 class="p-2 mt-1 font-sans font-bold text-sm text-gray-500">Using HTML and Tailwind CSS</h1>

  {% include 'forms/contact.html' %}
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>