{% extends "../layout/base.html" %}

{% block title %}Queries{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
      </tr>
    </thead>
    <tbody>
      {% for author in authors %}
        <tr>     
          <td>{{ author.name }}</td>
          <td>{{ author.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total authors: {{ authors|length }}</td>
      </tr>
    </tfoot>
  </table>
{% endblock  %}