* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-bottom: 0.5rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

.buttons-container {
  background-color: #555;
  padding: 1rem;
}

.buttons-container button {
  padding: 6px 9px;
  color: #222;
  background-color: #ddd;
  cursor: pointer;
  transition: color .3s ease, background-color .3s ease;
}

.buttons-container button:hover {
  color: #000;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

tfoot {
  background-color: #f9f9f9;
  color: #333;
  font-weight: bold;
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 3rem;
}